.bg-rotonda{
	background-image: url('../images/rotonda.jpg');
}

.jumbotron{
    background-color: #fc0000 !important;
    color: #fff !important;
    padding: 250px !important;
}

.bg-grey{
    background-color: #f6f6f6;
}

.logo{
	color: #fc0000 !important;
    font-size: 200px !important;
}

.container-fluid{
	padding: 60px 50px !important;
}

.slideanim {visibility:hidden;}
.slide {
    animation-name: slide;
    -webkit-animation-name: slide; 
    animation-duration: 1s; 
    -webkit-animation-duration: 1s;
    visibility: visible; 
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    } 
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        -webkit-transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        -webkit-transform: translateY(0%);
    }
}